mobile-workflow/resources/META-INF/webapp/public/schemas/Account Import Schema_R9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AccountsRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FileID" type="xs:string"/>
							<xs:element name="RecordCount" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Accounts">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Account" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element name="AccountTitle" type="xs:string" minOccurs="0"/>
										<xs:element name="OmnibusAccount" type="xs:string" minOccurs="0"/>
										<xs:element name="InvestmentResponsibility" type="xs:string" minOccurs="0"/>
										<xs:element name="InvestmentResponsibilityAuthority" type="xs:string" minOccurs="0"/>
										<xs:element name="TargetStrategyCode" type="xs:string" minOccurs="0"/>
										<xs:element name="DTCParticipantId" type="xs:string" minOccurs="0"/>
										<xs:element name="DomicileCountryCode" type="xs:string" minOccurs="0"/>
										<xs:element name="Recipients" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Recipient" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="RecipientType" type="xs:string" use="required"/>
															<xs:attribute name="RecipientCode" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="StandingInstructions" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="StandingInstruction" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="SIActionType" type="xs:string"/>
															<xs:attribute name="COICodes" type="xs:string"/>
															<xs:attribute name="CAType" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="UpdateIndicator" type="xs:string" use="required"/>
									<xs:attribute name="UpdateBEIndicator" type="xs:string" use="required"/>
									<xs:attribute name="UpdateSIIndicator" type="xs:string"/>
									<xs:attribute name="BusinessEntity" type="xs:string" use="required"/>
									<xs:attribute name="AccountNumber" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
