mobile-workflow/resources/META-INF/webapp/public/schemas/Entitlement Export Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EntitlementExport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FileID" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CAs">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CA" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Security" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="issuerDescription" type="xs:string" use="required"/>
												<xs:attribute name="issueDescription" type="xs:string" use="required"/>
												<xs:attribute name="identifyingSecurityIDType" type="xs:string" use="required"/>
												<xs:attribute name="identifyingSecurityID" type="xs:string" use="required"/>
												<xs:attribute name="countryOfIssuer" type="xs:string" use="required"/>
												<xs:attribute name="countryOfIssue" type="xs:string" use="required"/>
												<xs:attribute name="CFICode" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="GeneralCAAttributes">
											<xs:complexType>
												<xs:attribute name="voluntaryMandatory" type="xs:string" use="required"/>
												<xs:attribute name="modifiedDate" type="xs:string" use="required"/>
												<xs:attribute name="modifiedBy" type="xs:string" use="required"/>
												<xs:attribute name="dealNumber" type="xs:string" use="required"/>
												<xs:attribute name="corporateActionType" type="xs:string" use="required"/>
												<xs:attribute name="corporateActionKey" type="xs:string" use="required"/>
												<xs:attribute name="addedDate" type="xs:string" use="required"/>
												<xs:attribute name="lastExportDate" type="xs:string" />
											</xs:complexType>
										</xs:element>
										<xs:element name="CAStatuses">
											<xs:complexType>
												<xs:attribute name="workflowStatus" type="xs:string" use="required"/>
												<xs:attribute name="customerWorkflowStatus" type="xs:string" use="required"/>
												<xs:attribute name="corporateActionStatus" type="xs:string" use="required"/>
												<xs:attribute name="confirmationStatus" type="xs:string" use="required"/>
												<xs:attribute name="CAWorkStatus" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="CAFields" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Dates">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CADate" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="value" type="xs:string" use="required"/>
																		<xs:attribute name="status" type="xs:string" use="required"/>
																		<xs:attribute name="name" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="OtherFields">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CAField" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="value" type="xs:string" use="required"/>
																		<xs:attribute name="status" type="xs:string" use="required"/>
																		<xs:attribute name="name" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RulesData" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ExternalNotes" type="xs:string"/>
													<xs:element name="BusinessEntityData">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="BusinessEntity" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="recycleUntilDate" type="xs:string" use="required"/>
																		<xs:attribute name="entitlementExportDate" type="xs:string" use="required"/>
																		<xs:attribute name="businessEntityId" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="timeZone" type="xs:string" use="required"/>
												<xs:attribute name="ticklerDate" type="xs:string" use="required"/>
												<xs:attribute name="settledIndicator" type="xs:string" use="required"/>
												<xs:attribute name="secondResponseDueDate" type="xs:string" use="required"/>
												<xs:attribute name="responseOpenDate" type="xs:string" use="required"/>
												<xs:attribute name="responseClosedDate" type="xs:string" use="required"/>
												<xs:attribute name="responseCloseTime" type="xs:string" use="required"/>
												<xs:attribute name="purgeDate" type="xs:string" use="required"/>
												<xs:attribute name="notificationPrintType" type="xs:string" use="required"/>
												<xs:attribute name="notificationPrintDate" type="xs:string" use="required"/>
												<xs:attribute name="lotteryStatus" type="xs:string" use="required"/>
												<xs:attribute name="inquiryOpenDate" type="xs:string" use="required"/>
												<xs:attribute name="inquiryCloseDate" type="xs:string" use="required"/>
												<xs:attribute name="importantDate" type="xs:string" use="required"/>
												<xs:attribute name="firstResponseDueDate" type="xs:string" use="required"/>
												<xs:attribute name="exportStatus" type="xs:string" use="required"/>
												<xs:attribute name="createNotification" type="xs:string" use="required"/>
												<xs:attribute name="approvedDate" type="xs:string" use="required"/>
												<xs:attribute name="allotmentMethodIndicator" type="xs:string" use="required"/>
												<xs:attribute name="SIApplicationDate" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="OptionsPayouts" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Option" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Payouts" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Payout" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="PayoutFields">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="PayoutField" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:attribute name="value" type="xs:string" use="required"/>
																											<xs:attribute name="status" type="xs:string" use="required"/>
																											<xs:attribute name="name" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="type" type="xs:string" use="required"/>
																					<xs:attribute name="status" type="xs:string" use="required"/>
																					<xs:attribute name="number" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="text" type="xs:string" use="required"/>
															<xs:attribute name="status" type="xs:string" use="required"/>
															<xs:attribute name="number" type="xs:string" use="required"/>
															<xs:attribute name="defaultIndicator" type="xs:string" use="required"/>
															<xs:attribute name="assentedCUSIP" type="xs:string" use="required"/>
															<xs:attribute name="action" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CustodianData" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Custodian" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Locations">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Location" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="code" use="required" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="CustodianAccounts">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CustodianAccount" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="responseDueDate" use="required" type="xs:string"/>
																					<xs:attribute name="responseDueTime" type="xs:string"/>
																					<xs:attribute name="number" use="required" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="shortName" use="required" type="xs:string"/>
															<xs:attribute name="BICCode" use="required" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CALinks" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Link" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="Type" type="xs:string" use="required"/>
															<xs:attribute name="ModifiedDate" type="xs:string" use="required"/>
															<xs:attribute name="LinkedCorporateActionKey" type="xs:string" use="required"/>
															<xs:attribute name="AddedDate" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Text" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Terms" type="xs:string"/>
													<xs:element name="ExtendedText" type="xs:string"/>
													<xs:element name="Restrictions" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="textChangedIndicator" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="VendorCAs" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="VendorCA" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="VendorCAFields">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="VendorCAField" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="value" use="required" type="xs:string"/>
																					<xs:attribute name="name" use="required" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="VendorCAOptions" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="VendorCAOption">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="VendorCAPayouts">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="VendorCAPayout">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="VendorCAPayoutFields">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="VendorCAPayoutField">
																																<xs:complexType>
																																	<xs:attribute name="value" use="required" type="xs:string"/>
																																	<xs:attribute name="name" use="required" type="xs:string"/>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																											<xs:attribute name="number" use="required" type="xs:string"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="number" use="required" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="vendorName" use="required" type="xs:string"/>
															<xs:attribute name="vendorCAKey" use="required" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>												
										<xs:element name="Balances" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Balance" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="BusinessEntity" type="xs:string"/>
																<xs:element name="AccountNumber" type="xs:string"/>	
																<xs:element name="InvestmentRespAuthority" minOccurs="0" type="xs:string"/>	
																<xs:element name="TargetStrategyCode" minOccurs="0" type="xs:string"/>	
																<xs:element name="InvestmentResponsibility" minOccurs="0" type="xs:string"/>	
																<xs:element name="DTCParticipantID" minOccurs="0" type="xs:string"/>	
																<xs:element name="LocationCode" type="xs:string"/>
																<xs:element name="RegistrationCode" type="xs:string"/>
																<xs:element name="MatchedSecurityId" type="xs:string"/>
																<xs:element name="MatchedSecurityIdType" type="xs:string"/>
																<xs:element name="EligibleUnits" type="xs:string"/>
																<xs:element name="Transaction">
																	<xs:complexType>
																		<xs:attribute name="TransactionType" type="xs:string" use="required"/>
																		<xs:attribute name="TransactionID" type="xs:string" use="required"/>
																		<xs:attribute name="TradeDate" type="xs:string" use="required"/>
																		<xs:attribute name="SettledDate" type="xs:string" use="required"/>
																		<xs:attribute name="ExCumIndicator" type="xs:string" use="required"/>
																		<xs:attribute name="CounterParty" type="xs:string" use="required"/>
																		<xs:attribute name="CompensatedFlag" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>	
																<xs:element name="Options">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Option" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ElectedUnits" type="xs:string"/>
																						<xs:element name="ProcessedUnits" type="xs:string"/>
																						<xs:element name="PricePerUnit" type="xs:string"/>
																						<xs:element name="Payouts" minOccurs="0">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Payout">
																										<xs:complexType>
																											<xs:attribute name="type" type="xs:string" use="required"/>
																											<xs:attribute name="status" type="xs:string" use="required"/>
																											<xs:attribute name="number" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="WithholdingTax">
																										<xs:complexType>
																											<xs:attribute name="WithholdingReclaimRate" type="xs:string" use="required"/>
																											<xs:attribute name="WithholdingRate" type="xs:string" use="required"/>
																											<xs:attribute name="WithholdingExpenseRate" type="xs:string" use="required"/>
																											<xs:attribute name="WHTaxRateExceptionFlag" type="xs:string" use="required"/>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="Entitlement">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="EntitledGrossAmount" type="xs:string"/>
																												<xs:element name="EntitledNetAmount" type="xs:string"/>
																												<xs:element name="EntitledWHExpenseAmount" type="xs:string"/>
																												<xs:element name="EntitledWHReclaimAmount" type="xs:string"/>
																												<xs:element name="EntitledWHTaxAmount" type="xs:string"/>
																												<xs:element name="EntitledShareAmount" type="xs:string"/>
																												<xs:element name="EntitledFractionalShareAmount" type="xs:string"/>
																												<xs:element name="EntitledPriceAmount" type="xs:string"/>
																												<xs:element name="EntitledCash-in-LieuAmount" type="xs:string"/>
																												<xs:element name="EntitledAmount" type="xs:string"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="status" type="xs:string" use="required"/>
																					<xs:attribute name="number" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>																		
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RecordCount" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
