mobile-workflow/resources/META-INF/webapp/public/schemas/SecurityProcessingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="XSP.WebServices.Enterprise.SecurityProcessing" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="XSP.WebServices.Enterprise.SecurityProcessing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="XSP.WebServices.Enterprise.SecurityProcessing">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import />
      <s:import schemaLocation="http://localhost/R9-I2/SecurityProcessingService.asmx?schema=SecuritiesDataSet" namespace="http://tempuri.org/SecuritiesDataSet.xsd" />
      <s:import schemaLocation="http://localhost/R9-I2/SecurityProcessingService.asmx?schema=RelatedSecurityDataSet" />
      <s:element name="DeleteVendorSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityList" type="tns:ArrayOfMRecordDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMRecordDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MRecordDTO" nillable="true" type="tns:MRecordDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MRecordDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CusipNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedReason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeletedDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteVendorSecurityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteVendorSecurityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportVendorSecurities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityList" type="tns:ArrayOfVendorSecurityDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVendorSecurityDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VendorSecurityDTO" nillable="true" type="tns:VendorSecurityDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VendorSecurityDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DoNotUpdate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="VendorSecurityKey" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SecurityKey" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AUDFlag" type="s1:char" />
          <s:element minOccurs="0" maxOccurs="1" name="CFICode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientUK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryOfIssuer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssuerDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaturityDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vendor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CouponRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Tolerance" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MultiTradedFlag" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="MultiSettledFlag" type="s1:char" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedReasonCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeletedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="COIList" type="tns:ArrayOfVendorCOIDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityIDType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UniqueNumber" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="SecurityUniqueNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExistingSecurity" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVendorCOIDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VendorCOIDTO" nillable="true" type="tns:VendorCOIDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VendorCOIDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VendorSecurityCOIKey" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SecurityCOIKey" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AUDFlag" type="s1:char" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientUK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryOfIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WHTaxCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MarketPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PrimaryFlag" type="s1:char" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityList" type="tns:ArrayOfVendorSecurityIDDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="PriorityClassificationCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVendorSecurityIDDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VendorSecurityIDDTO" nillable="true" type="tns:VendorSecurityIDDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VendorSecurityIDDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VendorSecurityIDKey" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SecurityIDKey" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AUDFlag" type="s1:char" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityIdType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorProvidedSecurityId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorProvidedSecurityIdType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LSECode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImportVendorSecuritiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImportVendorSecuritiesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityIDTypeList">
        <s:complexType />
      </s:element>
      <s:element name="GetSecurityIDTypeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecurityIDTypeListResult" type="tns:ArrayOfSecurityIDType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSecurityIDType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SecurityIDType" nillable="true" type="tns:SecurityIDType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SecurityIDType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityIDTypeKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalNumberSystem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MinimumLength" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MaximumLength" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessSecurities">
        <s:complexType />
      </s:element>
      <s:element name="ProcessSecuritiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessSecuritiesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessSecuritiesThruEDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="tns:EDAMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EDAMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProcessToBeTriggered" type="tns:ArrayOfTriggerableProcess" />
          <s:element minOccurs="1" maxOccurs="1" name="TriggeredBy" type="tns:MessageProcess" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageTimeStamp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Persist" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="EDAProcessNames" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="EDAProcessGUID" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="EDAProcessStatus" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFlushable" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTriggerableProcess">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TriggerableProcess" type="tns:TriggerableProcess" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TriggerableProcess">
        <s:restriction base="s:string">
          <s:enumeration value="Security" />
          <s:enumeration value="PVCA" />
          <s:enumeration value="EligibleUnit" />
          <s:enumeration value="NotificationCreation" />
          <s:enumeration value="Position" />
          <s:enumeration value="Response" />
          <s:enumeration value="SOI" />
          <s:enumeration value="Transaction" />
          <s:enumeration value="LocationDataProcessing" />
          <s:enumeration value="SecurityNotification" />
          <s:enumeration value="ClosePositions" />
          <s:enumeration value="COICorrection" />
          <s:enumeration value="ISO565AutoMatch" />
          <s:enumeration value="AccountReconPreProcess" />
          <s:enumeration value="AccountReconProcess" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MessageProcess">
        <s:restriction base="s:string">
          <s:enumeration value="ToolBar" />
          <s:enumeration value="Schedular" />
          <s:enumeration value="EDA" />
          <s:enumeration value="ExceptionProcess" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessSecuritiesThruEDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessSecuritiesThruEDAResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownstreamInfoKeys">
        <s:complexType />
      </s:element>
      <s:complexType name="DownstreamKeys">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PVCAKey" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NotificationKey" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDownstreamInfoKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDownstreamInfoKeysResult" type="tns:DownstreamKeys" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityViewBySecurityKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityKey" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityViewBySecurityKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecurityViewBySecurityKeyResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/SecuritiesDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelatedSecurityList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="securityKey" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelatedSecurityListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRelatedSecurityListResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRelatedsecurityId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="relSecid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relSecIdType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRelatedsecurityIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckRelatedsecurityIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRelatedSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="relatedSecKey" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRelatedSecurityResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddRelatedSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ParentSecKey" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="relatedSecurityDataTable">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="relatedSecurityAudit">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRelatedSecurityResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateRelatedSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="relatedSecurityDataTable">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="relatedSecurityAudit">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRelatedSecurityResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSecuritiesByCriteriaList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="criteriaList" type="tns:ArrayOfCriteria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCriteria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Criteria" nillable="true" type="tns:Criteria" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Criteria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MirrorColumnName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Operator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SortType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataType" type="tns:DbType" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludeInWhereClause" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMultiLookUp" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSortable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSpecialNull" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialNullParam" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludeInSortCheck" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanSortOnValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DbType">
        <s:restriction base="s:string">
          <s:enumeration value="AnsiString" />
          <s:enumeration value="Binary" />
          <s:enumeration value="Byte" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Currency" />
          <s:enumeration value="Date" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Double" />
          <s:enumeration value="Guid" />
          <s:enumeration value="Int16" />
          <s:enumeration value="Int32" />
          <s:enumeration value="Int64" />
          <s:enumeration value="Object" />
          <s:enumeration value="SByte" />
          <s:enumeration value="Single" />
          <s:enumeration value="String" />
          <s:enumeration value="Time" />
          <s:enumeration value="UInt16" />
          <s:enumeration value="UInt32" />
          <s:enumeration value="UInt64" />
          <s:enumeration value="VarNumeric" />
          <s:enumeration value="AnsiStringFixedLength" />
          <s:enumeration value="StringFixedLength" />
          <s:enumeration value="Xml" />
          <s:enumeration value="DateTime2" />
          <s:enumeration value="DateTimeOffset" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetSecuritiesByCriteriaListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecuritiesByCriteriaListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://tempuri.org/SecurityListDataTable.xsd" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://www.w3.org/2001/XMLSchema" name="namespace" />
                <s:attribute fixed="SecurityListDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSecurities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityDataSet">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/SecuritiesDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="coiConflictCollection" type="tns:ArrayOfCOIConflictDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCOIConflictDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="COIConflictDTO" nillable="true" type="tns:COIConflictDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="COIConflictDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VendorCOIKey" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SecurityIDKey" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateSecuritiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSecuritiesResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/SecuritiesDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityView">
        <s:complexType />
      </s:element>
      <s:complexType name="SecurityDataViewSource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityDataSetSource">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://tempuri.org/SecuritiesDataSet.xsd" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CFICodeSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityIdTypeNumberSystemListSource" type="tns:ArrayOfSecurityIDType" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityIdTypeCountryListSource" type="tns:ArrayOfSecurityIDType" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryListSource" type="tns:ArrayOfCountry" />
          <s:element minOccurs="0" maxOccurs="1" name="LSECodeListSource" type="tns:ArrayOfLSESource" />
          <s:element minOccurs="0" maxOccurs="1" name="PriorityClassConstants">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CountryCurrencyLink" type="tns:ArrayOfCountry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCountry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Country">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyList" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLSESource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LSESource" nillable="true" type="tns:LSESource" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LSESource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LSESourceCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Exchange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarketIDCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSecurityViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecurityViewResult" type="tns:SecurityDataViewSource" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreference">
        <s:complexType />
      </s:element>
      <s:complexType name="SettingDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Scope" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Topic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Preference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxLength" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SettingValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RootSched" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSettingDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SettingDTO" nillable="true" type="tns:SettingDTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPreferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPreferenceResult" type="tns:ArrayOfSettingDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAuditInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityAuditDataSet">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAuditInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveAuditInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuditInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SecurityAuditDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityViewAuditData">
            <s:complexType>
              <s:sequence>
                <s:any namespace="" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CoiViewAuditData">
            <s:complexType>
              <s:sequence>
                <s:any namespace="" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="SIDViewAuditData">
            <s:complexType>
              <s:sequence>
                <s:any namespace="" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetAuditInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuditInfoResult" type="tns:SecurityAuditDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelatedSecurityAudit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CoiKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelatedSecurityAuditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRelatedSecurityAuditResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteVendorSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteVendorSecurity" />
  </wsdl:message>
  <wsdl:message name="DeleteVendorSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteVendorSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="ImportVendorSecuritiesSoapIn">
    <wsdl:part name="parameters" element="tns:ImportVendorSecurities" />
  </wsdl:message>
  <wsdl:message name="ImportVendorSecuritiesSoapOut">
    <wsdl:part name="parameters" element="tns:ImportVendorSecuritiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecurityIDTypeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecurityIDTypeList" />
  </wsdl:message>
  <wsdl:message name="GetSecurityIDTypeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecurityIDTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessSecuritiesSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessSecurities" />
  </wsdl:message>
  <wsdl:message name="ProcessSecuritiesSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessSecuritiesResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessSecuritiesThruEDASoapIn">
    <wsdl:part name="parameters" element="tns:ProcessSecuritiesThruEDA" />
  </wsdl:message>
  <wsdl:message name="ProcessSecuritiesThruEDASoapOut">
    <wsdl:part name="parameters" element="tns:ProcessSecuritiesThruEDAResponse" />
  </wsdl:message>
  <wsdl:message name="GetDownstreamInfoKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetDownstreamInfoKeys" />
  </wsdl:message>
  <wsdl:message name="GetDownstreamInfoKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetDownstreamInfoKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecurityViewBySecurityKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetSecurityViewBySecurityKey" />
  </wsdl:message>
  <wsdl:message name="GetSecurityViewBySecurityKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetSecurityViewBySecurityKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetRelatedSecurityListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRelatedSecurityList" />
  </wsdl:message>
  <wsdl:message name="GetRelatedSecurityListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRelatedSecurityListResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRelatedsecurityIdSoapIn">
    <wsdl:part name="parameters" element="tns:CheckRelatedsecurityId" />
  </wsdl:message>
  <wsdl:message name="CheckRelatedsecurityIdSoapOut">
    <wsdl:part name="parameters" element="tns:CheckRelatedsecurityIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRelatedSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRelatedSecurity" />
  </wsdl:message>
  <wsdl:message name="DeleteRelatedSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRelatedSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="AddRelatedSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:AddRelatedSecurity" />
  </wsdl:message>
  <wsdl:message name="AddRelatedSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:AddRelatedSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRelatedSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRelatedSecurity" />
  </wsdl:message>
  <wsdl:message name="UpdateRelatedSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRelatedSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecuritiesByCriteriaListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecuritiesByCriteriaList" />
  </wsdl:message>
  <wsdl:message name="GetSecuritiesByCriteriaListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecuritiesByCriteriaListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSecuritiesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSecurities" />
  </wsdl:message>
  <wsdl:message name="UpdateSecuritiesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSecuritiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecurityViewSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecurityView" />
  </wsdl:message>
  <wsdl:message name="GetSecurityViewSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecurityViewResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPreference" />
  </wsdl:message>
  <wsdl:message name="GetPreferenceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPreferenceResponse" />
  </wsdl:message>
  <wsdl:message name="SaveAuditInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAuditInfo" />
  </wsdl:message>
  <wsdl:message name="SaveAuditInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAuditInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuditInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuditInfo" />
  </wsdl:message>
  <wsdl:message name="GetAuditInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuditInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRelatedSecurityAuditSoapIn">
    <wsdl:part name="parameters" element="tns:GetRelatedSecurityAudit" />
  </wsdl:message>
  <wsdl:message name="GetRelatedSecurityAuditSoapOut">
    <wsdl:part name="parameters" element="tns:GetRelatedSecurityAuditResponse" />
  </wsdl:message>
  <wsdl:portType name="SecurityProcessingServiceSoap">
    <wsdl:operation name="DeleteVendorSecurity">
      <wsdl:input message="tns:DeleteVendorSecuritySoapIn" />
      <wsdl:output message="tns:DeleteVendorSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportVendorSecurities">
      <wsdl:input message="tns:ImportVendorSecuritiesSoapIn" />
      <wsdl:output message="tns:ImportVendorSecuritiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityIDTypeList">
      <wsdl:input message="tns:GetSecurityIDTypeListSoapIn" />
      <wsdl:output message="tns:GetSecurityIDTypeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessSecurities">
      <wsdl:input message="tns:ProcessSecuritiesSoapIn" />
      <wsdl:output message="tns:ProcessSecuritiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessSecuritiesThruEDA">
      <wsdl:input message="tns:ProcessSecuritiesThruEDASoapIn" />
      <wsdl:output message="tns:ProcessSecuritiesThruEDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDownstreamInfoKeys">
      <wsdl:input message="tns:GetDownstreamInfoKeysSoapIn" />
      <wsdl:output message="tns:GetDownstreamInfoKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityViewBySecurityKey">
      <wsdl:input message="tns:GetSecurityViewBySecurityKeySoapIn" />
      <wsdl:output message="tns:GetSecurityViewBySecurityKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRelatedSecurityList">
      <wsdl:input message="tns:GetRelatedSecurityListSoapIn" />
      <wsdl:output message="tns:GetRelatedSecurityListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRelatedsecurityId">
      <wsdl:input message="tns:CheckRelatedsecurityIdSoapIn" />
      <wsdl:output message="tns:CheckRelatedsecurityIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRelatedSecurity">
      <wsdl:input message="tns:DeleteRelatedSecuritySoapIn" />
      <wsdl:output message="tns:DeleteRelatedSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRelatedSecurity">
      <wsdl:input message="tns:AddRelatedSecuritySoapIn" />
      <wsdl:output message="tns:AddRelatedSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatedSecurity">
      <wsdl:input message="tns:UpdateRelatedSecuritySoapIn" />
      <wsdl:output message="tns:UpdateRelatedSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecuritiesByCriteriaList">
      <wsdl:input message="tns:GetSecuritiesByCriteriaListSoapIn" />
      <wsdl:output message="tns:GetSecuritiesByCriteriaListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSecurities">
      <wsdl:input message="tns:UpdateSecuritiesSoapIn" />
      <wsdl:output message="tns:UpdateSecuritiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityView">
      <wsdl:input message="tns:GetSecurityViewSoapIn" />
      <wsdl:output message="tns:GetSecurityViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPreference">
      <wsdl:input message="tns:GetPreferenceSoapIn" />
      <wsdl:output message="tns:GetPreferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveAuditInfo">
      <wsdl:input message="tns:SaveAuditInfoSoapIn" />
      <wsdl:output message="tns:SaveAuditInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuditInfo">
      <wsdl:input message="tns:GetAuditInfoSoapIn" />
      <wsdl:output message="tns:GetAuditInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRelatedSecurityAudit">
      <wsdl:input message="tns:GetRelatedSecurityAuditSoapIn" />
      <wsdl:output message="tns:GetRelatedSecurityAuditSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityProcessingServiceSoap" type="tns:SecurityProcessingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteVendorSecurity">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/DeleteVendorSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportVendorSecurities">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/ImportVendorSecurities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityIDTypeList">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetSecurityIDTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSecurities">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/ProcessSecurities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSecuritiesThruEDA">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/ProcessSecuritiesThruEDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownstreamInfoKeys">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetDownstreamInfoKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityViewBySecurityKey">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetSecurityViewBySecurityKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedSecurityList">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetRelatedSecurityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRelatedsecurityId">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/CheckRelatedsecurityId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRelatedSecurity">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/DeleteRelatedSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelatedSecurity">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/AddRelatedSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatedSecurity">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/UpdateRelatedSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecuritiesByCriteriaList">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetSecuritiesByCriteriaList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSecurities">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/UpdateSecurities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityView">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetSecurityView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreference">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetPreference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAuditInfo">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/SaveAuditInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuditInfo">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetAuditInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedSecurityAudit">
      <soap:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetRelatedSecurityAudit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecurityProcessingServiceSoap12" type="tns:SecurityProcessingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteVendorSecurity">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/DeleteVendorSecurity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportVendorSecurities">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/ImportVendorSecurities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityIDTypeList">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetSecurityIDTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSecurities">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/ProcessSecurities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSecuritiesThruEDA">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/ProcessSecuritiesThruEDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownstreamInfoKeys">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetDownstreamInfoKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityViewBySecurityKey">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetSecurityViewBySecurityKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedSecurityList">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetRelatedSecurityList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRelatedsecurityId">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/CheckRelatedsecurityId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRelatedSecurity">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/DeleteRelatedSecurity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelatedSecurity">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/AddRelatedSecurity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRelatedSecurity">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/UpdateRelatedSecurity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecuritiesByCriteriaList">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetSecuritiesByCriteriaList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSecurities">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/UpdateSecurities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityView">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetSecurityView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreference">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetPreference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAuditInfo">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/SaveAuditInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuditInfo">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetAuditInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedSecurityAudit">
      <soap12:operation soapAction="XSP.WebServices.Enterprise.SecurityProcessing/GetRelatedSecurityAudit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityProcessingService">
    <wsdl:port name="SecurityProcessingServiceSoap" binding="tns:SecurityProcessingServiceSoap">
      <soap:address location="http://localhost/R9-I2/SecurityProcessingService.asmx" />
    </wsdl:port>
    <wsdl:port name="SecurityProcessingServiceSoap12" binding="tns:SecurityProcessingServiceSoap12">
      <soap12:address location="http://localhost/R9-I2/SecurityProcessingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>