mobile-workflow/resources/META-INF/webapp/public/schemas/Security Matrix Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SecurityRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FileID" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Securities">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Security" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CountryOfIssues">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CountryOfIssue" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SecurityIdentifiers">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Identifier" maxOccurs="unbounded">
																				<xs:complexType mixed="true">
																					<xs:sequence>
																						<xs:element name="RelatedSecurities" minOccurs="0">
																							<xs:complexType mixed="true">
																								<xs:sequence>
																									<xs:element name="RelatedSecurity" minOccurs="0" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:attribute name="RelationshipTypeCode" use="required" type="xs:string"/>
																											<xs:attribute name="IdType" use="required" type="xs:string"/>
																											<xs:attribute name="ID" use="required" type="xs:string"/>
																											<xs:attribute name="Action" use="required" type="xs:string"/>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="LSECode" type="xs:string"/>
																					<xs:attribute name="IdType" use="required" type="xs:string"/>
																					<xs:attribute name="ID" use="required" type="xs:string"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="WHTCode" type="xs:string"/>
															<xs:attribute name="PriorityClassificationCode" type="xs:string"/>
															<xs:attribute name="Primary" use="required" type="xs:string"/>
															<xs:attribute name="MarketPrice" type="xs:string"/>
															<xs:attribute name="IssueDescription" type="xs:string"/>
															<xs:attribute name="IssueDate" type="xs:string"/>
															<xs:attribute name="ClientUK" type="xs:string"/>
															<xs:attribute name="COICode" use="required" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ProductType" type="xs:string"/>
									<xs:attribute name="ParValue" type="xs:string"/>
									<xs:attribute name="MultiTraded" type="xs:string"/>
									<xs:attribute name="MultiSettled" type="xs:string"/>
									<xs:attribute name="MaturityDate" type="xs:string"/>
									<xs:attribute name="MarketPrice" type="xs:string"/>
									<xs:attribute name="IssuerDescription" type="xs:string"/>
									<xs:attribute name="IssueDescription" type="xs:string"/>
									<xs:attribute name="IssueDate" type="xs:string"/>
									<xs:attribute name="DatedDate" type="xs:string"/>
									<xs:attribute name="CurrencyCode" type="xs:string"/>
									<xs:attribute name="CouponRate" type="xs:string"/>
									<xs:attribute name="CountryOfIssuer" use="required" type="xs:string"/>
									<xs:attribute name="ClientUK" use="required" type="xs:string"/>
									<xs:attribute name="CFICode" type="xs:string"/>
									<xs:attribute name="AUD" use="required" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Trailer">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RecordCount" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
