mobile-workflow/resources/META-INF/webapp/public/schemas/XML CA Import Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CAExport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CARecords">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Header">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FileID" type="xs:string"/>
										<xs:element name="vendorName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CAs">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CA" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Security">
														<xs:complexType>
															<xs:attribute name="issuerDescription" type="xs:string"/>
															<xs:attribute name="issueDescription" type="xs:string"/>
															<xs:attribute name="identifyingSecurityIDType" type="xs:string" use="required"/>
															<xs:attribute name="identifyingSecurityID" type="xs:string" use="required"/>
															<xs:attribute name="countryOfIssuer" type="xs:string"/>
															<xs:attribute name="countryOfIssue" type="xs:string"/>
															<xs:attribute name="CFICode" type="xs:string"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="GeneralCAAttributes">
														<xs:complexType>
															<xs:attribute name="voluntaryMandatory" type="xs:string" use="required"/>
															<xs:attribute name="dealNumber" type="xs:string"/>
															<xs:attribute name="corporateActionType" type="xs:string" use="required"/>
															<xs:attribute name="corporateActionKey" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="CAStatuses">
														<xs:complexType>
															<xs:attribute name="corporateActionStatus" type="xs:string"/>
															<xs:attribute name="confirmationStatus" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="CAFields">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Dates">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CADate" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="value" type="xs:string" use="required"/>
																					<xs:attribute name="name" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="OtherFields">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CAField" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="value" type="xs:string" use="required"/>
																					<xs:attribute name="name" type="xs:string" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="OptionsPayouts">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Option" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Payouts">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Payout" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="PayoutFields">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="PayoutField" maxOccurs="unbounded">
																													<xs:complexType>
																														<xs:attribute name="value" type="xs:string" use="required"/>
																														<xs:attribute name="name" type="xs:string" use="required"/>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																								<xs:attribute name="type" type="xs:string" use="required"/>
																								<xs:attribute name="number" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="text" type="xs:string" use="required"/>
																		<xs:attribute name="number" type="xs:string" use="required"/>
																		<xs:attribute name="defaultIndicator" type="xs:string" use="required"/>
																		<xs:attribute name="assentedCUSIP" type="xs:string"/>
																		<xs:attribute name="action" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CustodianData" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Custodian" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Locations">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Location" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:attribute name="code" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="CustodianAccounts">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="CustodianAccount" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:attribute name="responseDueDate" type="xs:string" use="required"/>
																								<xs:attribute name="number" type="xs:string" use="required"/>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="shortName" type="xs:string" use="required"/>
																		<xs:attribute name="BICCode" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Text">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Terms" type="xs:string"/>
																<xs:element name="ExtendedText" type="xs:string"/>
																<xs:element name="Restrictions" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RecordCount" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
